# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
cartopy=0.20.1=py38h65f7167_5
geographiclib=1.52=pyhd8ed1ab_0
geos=3.10.1=he49afe7_1
gettext=0.19.8.1=hd1a6beb_1008
ipython=7.30.1=pypi_0
matplotlib-base=3.5.0=py38hc7d2367_0
matplotlib-inline=0.1.3=pypi_0
numpy=1.21.4=py38h49b9922_0
obspy=1.2.2=py38hbe852b5_2
pandas=1.3.4=py38ha53d530_1
scipy=1.7.3=py38hd329d04_0

